<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button button-clear icon ion-chevron-left" ng-click="back('menu');"></button>
  </div>
  <h1 class="title">Guimo</h1>
</ion-header-bar>
<ion-pane>
  <ion-content>
    <div class="estrelas animated zoomIn"></div>
    <div class="astronauta animated"></div>
    <div class="planeta animated shake"></div>
    <div class="naveguimo animated fadeInLeft"></div>
    <div class="terra animated bounce"></div>

    <div class="row">
        <div class="col">
          <div class="button-bar">
            <a class="button button-outline button-royal" ng-click="feed('lanche\n','Hamburgers','Bite3')"><img src="img/hamburguer.png" alt="Hamburguer" id="hamburguer" /></a>
            <a class="button button-outline button-royal" ng-click="feed('maca\n','Maças','Bite3')"><img src="img/apple.gif" alt="Maca" id="maca" /></a>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="button-bar">
          <a class="button button-outline button-royal" ng-click="feed('suco\n','Sucos','Slurp7')"><img src="img/suco.png" alt="Suco" id="suco" /></a>
          <a class="button button-outline button-royal" ng-click="feed('refri\n','Refris','Slurp7')"><img src="img/soda.png" alt="Refri" id="refri" /></a>
        </div>
      </div>
    </div>

    <div class="row" ng-show="health <= 25">
          <div class="col">
            <button class="button button-block button-assertive icon-left ion-medkit" ng-click="medkit()">
                Remédio Estrelar
            </button>
          </div>
    </div>

    <!-- DEBUG DIVS -->
    <div class="row">
      <div class="col">
          <p class="light text-center">
            {{foodSelected}}
          </p>
      </div>
    </div>
    <!--DEBUG DIVS -->

    <div class="row">
      <div class="col">
          <img src="img/hamburguer.png" alt="Alimento" ng-show="feeding" />
      </div>
    </div>



  </ion-content>
</ion-pane>
