<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button button-clear icon ion-chevron-left" ng-click="back('menu');"></button>
  </div>
  <h1 class="title">Guimo</h1>
</ion-header-bar>
<ion-pane>
  <ion-content>
    <div class="estrelas animated zoomIn"></div>
    <div class="astronauta animated"></div>
    <div class="planeta animated shake"></div>
    <div class="naveguimo animated fadeInLeft"></div>
    <div class="terra animated bounce"></div>

    <div class="row">
      <div class="col">
        <div class="list">
          <a class="item item-icon-right" ng-click="conversar(1,1)">
            Como você está?
            <i class="icon ion-help animated tada"></i>
          </a>

          <a class="item item-icon-right" ng-click="conversar(2,3)">
            De onde você veio?
            <i class="icon ion-help animated tada"></i>
          </a>

          <a class="item item-icon-right" ng-click="conversar(4,5)">
            Quer fazer algo?
            <i class="icon ion-help animated tada"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <ion-spinner icon="lines" class="balanced" ng-show="awsering"></ion-spinner>
      </div>
    </div>

    <div class="row" ng-show="false">
        <div class="col">
            <div class="list card">
            <div class="item item-avatar">
              <img src="img/logo_guimo_50px.png" class="guimo-animado">
              <h2>Guimo  </h2>
              <p>
                Resposta:
              </p>
            </div>
            <div class="item item-text-wrap">
              <p>
                {{awser}}
              </p>
            </div>
          </div>
        </div>
    </div>
  </ion-content>
</ion-pane>
