<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button button-clear icon ion-chevron-left" ng-click="back('menu');"></button>
  </div>
  <h1 class="title">Guimo</h1>
</ion-header-bar>

<ion-pane>
  <ion-content>
      <div class="row">
        <div class="col">
            <a class="button button-energized button-full" ng-click="changeValue('food')">Resetar Comida</a>
            <a class="button button-assertive button-full"ng-click="changeValue('health')">Resetar Saúde</a>
            <a class="button button-calm button-full" ng-click="changeValue('fome')">Fome</a>
            <a class="button button-balanced button-full" ng-click="changeValue('doente')">Doente</a>
            <a class="button button-positive button-full" ng-show="connected" ng-click="changeValue('tela')">Tela Padrão</a>
        </div>
    </div>
  </ion-content>
</ion-pane>