<ion-header-bar align-title="left" class="bar-positive">
  <h1 class="title" ng-click="menuSecreto(5)">Guimo</h1>
</ion-header-bar>

<ion-pane>
  <ion-content>
    <div class="estrelas animated zoomIn"></div>
    <div class="astronauta animated"></div>
    <div class="planeta animated flipInY"></div>
    <div class="naveguimo animated fadeInLeft"></div>
    <div class="terra animated bounce"></div>

    <div class="row">
      <div class="col col-50">
          <div class="amarelo rounded-border-3x-black text-center animated bounceIn" ui-sref="controlar">
              <a href="#" class="assertive icon-big"><i class="icon ion-ios-game-controller-b"></i></a>
          </div>
      </div>

      <div class="col col-50">
          <div class="verde rounded-border-3x-black text-center animated bounceIn" ui-sref="alimentar">
              <a href="#" class="energized icon-big"><i class="icon ion-android-restaurant"></i></a>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-50">
          <div class="branco rounded-border-3x-black text-center animated bounceIn" ng-click="alerta('jokenpo')">
              <a href="#" class="royal icon-big"><i class="icon ion-android-hand "></i></a>
          </div>
      </div>

      <div class="col col-50">
          <div class="rosa rounded-border-3x-black text-center animated bounceIn" ui-sref="blockly">
              <a href="#" class="balanced icon-big"><i class="icon ion-code-working "></i></a>
          </div>
      </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="list card">
            <div class="item item-avatar">
              <img src="img/logo_guimo_50px.png" class="guimo-animado">
              <h2 ng-show="!connected">Guimo ainda não foi encontrado </h2>
              <p ng-show="!connected">Encontre o guimo através do <i class="icon ion-bluetooth"></i></p>

              <h2 ng-show="connected">Guimo foi encontrado </h2>
              <p ng-show="connected">Estou pronto para brincar</p>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col col-50">
          <div class="amarelo rounded-border-3x-black text-center animated bounceIn" ui-sref="conversa" >
            <a class="balanced icon-big"><i class="icon ion-chatbubble-working"></i></a>
          </div>
      </div>

      <div class="col col-50">
          <div class="rosa rounded-border-3x-black text-center animated bounceIn" ui-sref="telas" >
            <a class="energized icon-big"><i class="icon ion-tshirt"></i></a>
          </div>
      </div>
    </div>

    <br><br><br>
  </ion-content>
</ion-pane>
