<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button button-clear icon ion-chevron-left" ng-click="back('menu');"></button>
  </div>
  <h1 class="title">Guimo</h1>
</ion-header-bar>
<ion-pane>
  <ion-content>
    <div class="estrelas animated zoomIn"></div>
    <div class="astronauta animated"></div>
    <div class="planeta animated shake"></div>
    <div class="naveguimo animated fadeInLeft"></div>
    <div class="terra animated bounce"></div>

    <div class="row">
        <div class="col">
          <div class="button-bar">
            <a class="button button-outline button-royal" ng-click="trocaTela('oculos\n')"><img src="img/oculos.png" alt="oculos" id="img-tela" /></a>
            <a class="button button-outline button-royal" ng-click="trocaTela('menina\n')"><img src="img/batom.png" alt="batom" id="img-tela" /></a>
            <a class="button button-outline button-royal" ng-click="trocaTela('bigode\n')"><img src="img/bigode.png" alt="bigode" id="img-tela" /></a>

          </div>
        </div>
    </div>

  </ion-content>
</ion-pane>
