<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- BLOCKLY JSs -->
    <script src="lib/blockly/blockly_compressed.js"></script>
    <script src="lib/blockly/blocks_compressed.js"></script>
    <script src="lib/blockly/javascript_compressed.js"></script>
    <script src="lib/blockly/msg/js/pt-br.js" charset="utf-8"></script>
    <script src="js/custom_blocks.js" charset="utf-8"></script>
    <script src="lib/blockly/generators/javascript/guimo.js" charset="utf-8"></script>
    <script src="lib/virtualjoystick.js/virtualjoystick.js" charset="utf-8"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js" charset="utf-8"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="js/Controllers/MenuController.js" charset="utf-8"></script>
    <script src="js/Controllers/GuimoController.js" charset="utf-8"></script>
    <script src="js/Controllers/ConversaController.js" charset="utf-8"></script>
    <script src="js/Controllers/AlimentarController.js" charset="utf-8"></script>
    <script src="js/Controllers/BlocklyController.js" charset="utf-8"></script>
    <script src="js/Controllers/TelasController.js" charset="utf-8"></script>
    <script src="js/Controllers/ControlarController.js" charset="utf-8"></script>
    <script src="js/Controllers/SecretoController.js" charset="utf-8"></script>


  </head>
  <body ng-app="guimoapp">


    <div ui-view>

    </div>

    <ion-footer-bar align-title="center" class="bar-positive" ng-controller="GuimoController">
      <div class="buttons">
        <!--<button class="button button-balanced" ng-show="!connected" ng-click="conectarBt('guimo')" ng-disabled="connecting">
          
            
            
        </button>-->
        <button class="button button-balanced" ng-show="!connected" ng-hide="connected" ng-disabled="connecting || connected" ng-enabled="!connecting" ng-click="conectarBt('guimo')">
          <span ng-show="!connecting" ng-hide="connecting"> <i class="icon ion-bluetooth" class="balanced"></i> Encontrar Guimo</span>
          <span ng-show="connecting" ng-hide="!connecting" ><ion-spinner icon="lines" class="balanced"></ion-spinner></span>
          <span ng-show="connected" ng-hide="!connected" class="balanced">Conectado!</span>
        </button>
      </div>
      <h1 class="title"></h1>
      <div class="buttons">
        <button class="button button-energized icon-left ion-flash" ng-hide="true"> {{energia}}% </button>
        <button class="button button-assertive icon-left ion-heart" style="margin-left:10px;"> {{health}}% </button>
        <button class="button button-royal icon-right ion-android-restaurant" style="margin-left:10px;"> {{hunger}}% </button>
      </div>
    </ion-footer-bar>
  </body>
</html>
