/* Empty. Add your own CSS if you like */
ion-content{
  background: #424242;
  background: -webkit-linear-gradient(#424242, #0d47a1, #424242); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#424242, #0d47a1, #424242); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#424242, #0d47a1, #424242); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#424242, #0d47a1, #424242); /* Standard syntax */
}

.naveguimo{
  background: url('../img/nave_guimo.png') no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  position:absolute;
  width: 100%;
  height: 100px;
  top:350px;
  z-index: -10;
}

.planeta{
  background: url(../img/mundo.png) no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  width: 100%;
  height: 150px;
  position:absolute;
  top:150px;
  right: 100px;
  z-index: -10;
}

.terra{
  background: url('../img/terra.png') no-repeat center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  width:180px;
  height:180px;
  position:absolute;
  left:220px;
  top:250px;
  z-index: -10;
}

.astronauta{
  background: url('../img/astronauta.png') no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  position:absolute;
  width: 100%;
  height: 100px;
  right: 75px;
  top:70px;
  -webkit-animation: astroanimado 1s linear infinite alternate;
  animation: astroanimado 1s linear infinite alternate;
  z-index: -10;
}
.estrelas{
  background:url('../img/estrelas.png') no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 1000px;
  height: 600px;
  position:absolute;
  z-index: -10;

}

@-webkit-keyframes astroanimado{
  0% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px)
  }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px)
  }
}
@keyframes astroanimado {
  0% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px)
  }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px)
  }
}
.amarelo{
  background: #fff176;
  opacity:0.75;
}

.verde{
  background: #26a69a;
  opacity:0.75;
}

.branco{
  background: #fff;
  opacity:0.75;
}

.rosa{
  background: #e91e63;
  opacity:0.75;
}

.lgreen{
  opacity:0.75;
  background:#76ff03;
}

.rounded-border-3x-black{
  border-radius: 30px;
  border:3px dashed #000;
}

.icon-big{
  font-size:50px;
}

.icon-medium{
  font-size:25px;
}

.text-medium{
  font-size:18px;
}

.no-margin{
  margin:0 auto;
}

.list{
  opacity:0.8;
}
.item{
  opacity: 1;
}
.spinner svg {
  stroke: #fff;
  fill: #fff;
}

.item p{
  color:#000;
  font-weight: bold;
}
.item h2{
  font-weight: bold;
}
.item-avatar img{
  top:10px !important;
  left:10px !important;
  max-width: 60px !important;
  max-height: 60px !important;
}

.guimo-animado{
  -webkit-animation: astroanimado 1s linear alternate infinite;
  animation: astroanimado 1s linear alternate infinite;
}

.slider {
  height:50vh;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.button.ng-hide{
  display:none;
}

#hamburguer{
  width: 70px;
  height: 136px;
  margin-bottom: -30px;
  margin-top: -10px;
}

#sorvete{
  width: 106px;
  height: 96px;
  margin-bottom: -10px;
  margin-top:10px;
}

#maca{
  width: 106px;
  height: 96px;
  margin-bottom: -10px;
  margin-top:10px;
}

#refri{
  width: 50px;
  height: 90px;
  margin-bottom: -10px;
  margin-top:10px;
}

#suco{
  width: 35px;
  height: 90px;
  margin-bottom: -10px;
  margin-top:10px;
}

#img-tela{
  width:80px;
  height: 75px;
  margin-bottom: -10px;
  margin-top:5px;
}

#joystick {
  width		: 100%;
  height		: 100%;
  overflow	: hidden;
  padding		: 0;
  margin		: 0;
  -webkit-user-select	: none;
  -moz-user-select	: none;
}
